(Undergraduate Topics in Computer Science) Antti Laaksonen - Guide to Competitive Programming_ Learning and Improving Algorithms Through Contests (Undergraduate Topics in Computer Science)-Springer (2.pdf